* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 77px;
  transition: all 0.6s;
  top: 0;
  left: 0;
  background-color: var(--color-dark-secondary);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
nav .wrapper {
  /* position: relative; */
  /* padding: 0px 30px; */
  height: 100%;
  line-height: 70px;
  /* margin: auto 80px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a {
  color: #f1f1f1;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links {
  display: inline-flex;
  gap: 42px;
  height: 100%;
  align-items: center;
}
.nav-links,
.nav-links-mobile,
.footer-links li {
  list-style: none;
}
.nav-links li a,
.nav-links li label,
.nav-links-mobile li a,
.nav-links-mobile li label {
  color: #f1f1f1;
  position: relative;
  text-decoration: none;
  border-radius: 0;
  padding-bottom: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05625rem;
}

/* Pseudo-element to create the line */
.nav-links li a::before,
.nav-links li label::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Adjust the height to control the line's thickness */
  background-color: var(
    --color-brand-primary
  ); /* Adjust the color to your liking */
  transition: width 0.3s ease; /* Add a transition for smooth animation */
}

/* On hover, animate the width from 0 to 100% */
.nav-links li a.nav-link-item:hover::before,
.nav-links li label:hover::before {
  width: 100%;
}

.nav-links .mobile-item {
  display: none;
}

.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 73px;
  opacity: 1;
  visibility: visible;
}

.mega-box {
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  min-height: 322px;
}
.mega-box .content {
  background: var(--color-dark-secondary);
  box-shadow: 0px 20px 35px 0px #00000026;
  padding: 20px 80px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 140px;
  padding-bottom: 5rem;
}
.mega-box .content .row {
  line-height: 45px;
}
.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header {
  color: #272525;
  font-size: 20px;
  font-weight: 500;
}

.mega-links {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.mega-links div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

.nav-arrow {
  transform: rotate(-90deg);
}

.row .mega-links li {
  padding: 0 20px;
}
.row .mega-links li a {
  padding: 0px;
  padding: 0 20px;
  color: #181818;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover {
  color: #5e4c4c;
}

.desktop-hover-links:hover h3,
.footer-links li a:hover {
  color: var(--color-brand-primary);
}

nav input {
  display: none;
}

.nav-child-link {
  line-height: normal;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}

.nav-child-link h3 {
  text-transform: uppercase;
  color: var(--color-text-primary);
  font-family: "Montserrat", sans-serif;;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0.02rem;
}

.nav-child-link p {
  width: 85%;
  margin: 0;
  line-height: normal;
  color: var(--color-text-primary);
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.0175rem;
}

.request-demo {
  color: var(--color-brand-primary) !important;
  font-size: 1rem !important;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  background-color: #8c8d92;
}

.nav-backdrop {
  position: fixed;
  inset: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  z-index: 3;
  display: none;
}

.nav-links-mobile {
  display: none;
}

.arrow-container {
  width: 18px;
  height: 18px;
  display: inline-block;
}

.language {
  cursor: pointer;
  display: flex;
  gap: 7px;
  align-items: center;
  position: relative;
}

.lang-img-container {
  border-radius: 5px;
  overflow: hidden;
  width: 31px;
  height: 23px;
}

.lang-image {
  width: 25px;
  height: 18px;
}

.lang-mobile-image {
  width: 27px;
  height: 17px;
}

.languages {
  position: absolute;
  top: 50px;
  background: var(--color-dark-primary);
  left: -50px;
  padding: 6px 5px;
  filter: drop-shadow(0px 4px 35px rgba(0, 0, 0, 0.15));
  display: none;
  border-radius: 11px;
}

.languages-mobile-container {
  width: 450px;
}

.languages-mobile {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: 0.02rem;
  text-decoration: none;
  color: var(--color-text-primary);
  background: transparent;
  margin-bottom: .8rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
  border-bottom: 1px solid #ddd;
  width: 90%;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-gray);
  border-radius: 50%;
  position: relative;
}

.custom-checkbox.selected::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: 3px;
  border-radius: 50%;
  background-color: var(--color-brand-secondary);
}

.languages.show {
  display: block;
}

.languages ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.languages a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.375rem; /* 183.333% */
  letter-spacing: 0.015rem;
  padding: 9px 13px;
  cursor: pointer;
  color: var(--color-text-primary);
  background: transparent;
  border-radius: 7px;
  transition: all 0.3s;
}

.languages a:hover {
  background: var(--color-dark-secondary);
}

@media screen and (max-width: 1399px) {
  .wrapper .nav-links {
    gap: 25px;
  }
}

@media screen and (max-width: 1199px) {
  .wrapper .nav-links {
    gap: 32px;
  }

  .request-demo-button {
    display: none;
  }

  .mega-links {
    row-gap: 12px;
  }

  .nav-child-link {
    row-gap: 0.95rem;
  }
}

@media screen and (max-width: 991px) {
  #navbar {
    top: 0 !important;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .wrapper .nav-links {
    display: none;
  }

  .wrapper .nav-links-mobile {
    position: fixed;
    z-index: 99;
    height: calc(100vh - 77px);
    max-width: 0;
    top: 77px;
    left: -20%;
    background: var(--color-dark-secondary);
    display: block;
    padding: 0px 20px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.4s ease-in-out;
    overflow-x: hidden;
  }

  .wrapper .nav-links-mobile.show {
    left: 0;
    max-width: 450px;
  }

  .nav-backdrop.show {
    display: block;
  }

  .nav-links-mobile li {
    /* padding: 15px 10px; */
    border-bottom: 1px solid #ddd;
    line-height: normal;
  }

  .menu-item-text {
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    line-height: inherit !important;
  }

  .nav-links-mobile li a,
  .nav-links-mobile li label {
    width: 100%;
    display: inline-block;
    height: 100%;
    padding: 26px 10px;
  }

  .mega-box {
    min-height: 0;
  }

  .nav-links-mobile li label {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links-mobile .desktop-item {
    display: none;
  }
  .nav-links-mobile .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links-mobile .mobile-item:hover {
    background: #3a3b3c;
  }

  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 0 0 0;
    gap: 140px;
  }
  .mega-box .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .content .row:nth-child(1),
  .mega-box .content .row:nth-child(2) {
    border-top: 0px;
  }
  .content .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .content .row header {
    font-size: 19px;
  }

  .nav-links-mobile li a.nav-link-item:hover::before,
  .nav-links-mobile li label:hover::before {
    width: 0;
  }

  .language {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .languages-mobile-container {
    width: 100vw;
  }
}